/* ==========================================================================
    Footer
    ========================================================================== */

.footer {
    padding: 15px 0;
    background: #FC6765;
    color: #f2f8fb;
    vertical-align: middle;
}

.footer__content {
    font-size: 14px;
}

.footer__text {
    margin: 0;
    padding: 3px 0;
    font-size: 12px;
    color: #ffffff;
    a {
        color: #ffffff;
    }
}

.site-map {
    padding-top: 21px;
    padding-bottom: 5px;
    background: #f2f8fb;
    font-size: 16px;
    color: #4C4C4C;
    &__listitem--header {
        font-weight: 700;
        padding: 7px 0;
    }
    &__list {
        text-decoration: none;
        list-style: none;
        padding-left: 0;
        font-size: 14px;
        a {
            text-decoration: none;
            color: #4C4C4C;
            padding: 10px 0;
        }
    }
    &__links {
        margin-top: 32px;
        margin-bottom: 40px;
    }
    &__brand {
        margin-top: 4px;
        clear: right;
        &_image {
            width: 198px;
        }
    }
    &__address {
        margin-top: 4px;
        clear: right;
        &_list {
            margin-bottom: 0;
            margin-top: 16px;
            text-decoration: none;
            list-style: none;
            font-size: 12px;
            line-height: 1.6;
            &_item {
                padding: 4px 0;
                color: #4C4C4C;
            }
        }
    }
    .footer-social-links {
        margin-top: 15px;
        margin-bottom: 15px;
        img {
            height: 24px;
            padding: 0;
            max-width: 100%;
        }
        a {
            display: inline-block;
            padding: 0 15px;
        }
        li:first-child a {
            padding: 0 15px 0 0;
        }
        li {
            display: inline;
        }
    }
}

.content-info {
    margin-top: 3rem;
    padding: 1.5rem 0;
    border-top: 1px solid $borderColor;
    background: #333;
    color: #999;
    .widget-area {
        margin-bottom: 15px;
        padding-bottom: 15px;
        padding-top: 20px;
    }
    .widget {
        padding-bottom: 15px;
        h3 {
            border-bottom: 1px solid #2E2E2E;
            margin: 0 0 10px 0;
            padding: 0 0 10px 0;
            font-weight: 300;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            ul.children {
                padding-left: 10px;
            }
            li {
                padding: 3px 0;
            }
        }
        a {
            color: #777;
        }
    }
    .copyright {
        padding-top: 15px;
        border-top: 1px solid #2E2E2E;
    }
}

@media (min-width: 992px) {
    .site-map .footer-social-links {
        margin-bottom: 0;
    }
}