$mainColor: #FC6765;
$borderColor: #eee;
//base colors 
$primary-bg: #ffffff;
$branding-color: #FC6765;
$dark-blue:#0c7a9b;
$branding-yellow:#FC6765;
$secondary-branding-color:#f7fbfd;
$ternary-branding-color:#FC6765;
$transparent-bg: #f2f8fb;
//text colors 
$text-color-primary: #606060;
$text-color-secondary: #4C4C4C;
$text-color-trinary: #939393;
$side-links-color:#9B9B9B;
$text-color-ash:#878787;
$light-gray-text:#606060;
$home-heading-black:#2F2F2F;
$primary-button-text:#fff;
//fonts
$base-font-family: 'MuseoSans',
sans-serif;
$header-font-family: 'MuseoSans',
sans-serif;
//font sizes
$heading-1: 30px;
$heading-2: 26px;
$paragraph-font: 14px;
$tiny-font:14px;
$nav-font: 16px;
$large-pragraph-font-size:14px;
$quoted-paragraph-font-size:18px;
$section-head-font-size:31px;
//font-weights
$bold-font:900;
$semi-bold:700;
$reguler-font:500;
$thin-font:300;
//grays
$dark-gray: #E6E6E6;
$mid-gray: #E6E6E6;
$light-gray: #E6E6E6;
$border-ash:#E1E1E1;
$border-dark-ash:#E1E1E1;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;